{% extends 'base.html' %}
{% load static %}
{% load main_extras %}

{% block title %}НКО Парсек{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
    <div class="title-img smartphone hide-on-med-and-up">
        <img src="{% static 'img/title1-3v2.jpg' %}" class="responsive-img">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 hide-on-small-only">
                <img src="{% static 'img/title1-5v2.jpg' %}" class="responsive-img">
            </div>
            <div class="col s12 index-news-list">
                <div class="col s12">
                    <h4 class="news-title">Последние новости</h4>
                    <div class="divider"></div>
                </div>
                {% for news in news_list %}
                    <div class="col s12 m6 l4 news-block">
                        <div class="card">
                            <div class="card-image">
                                <a href="/news/?id={{ news.id }}"><img src="{{ news.image.url }}"></a>
                                <span class="card-title">{{ news.title }}</span>
                            </div>
                            <div class="card-content">
                                <p>{{ news.short_desc }}</p>
                            </div>
                            <div class="card-action">
                                <a href="/news/?id={{ news.id }}">Читать далее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col s12 no-padding">
                <ul class="pagination center">
                    {% if pages.page == pages.range.0 %}
                        <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                    {% else %}
                        <li class="waves-effect"><a href="/?page={{ pages.page|add:"-1" }}"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                    {% for i in pages.range %}
                        {% if i == pages.page %}
                            <li class="active"><a href="#!">{{ i }}</a></li>
                        {% else %}
                            <li class="waves-effect"><a href="/?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pages.page == pages.range|last_index %}
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    {% else %}
                        <li class="waves-effect"><a href="/?page={{ pages.page|add:"1" }}"><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}
{% block script %}

{% endblock %}