.title-img{
  width: 100%;
  height: auto;
}
.news-block .card {
    .card-title {
      font-weight: 500;
      //контур с помощью 4 теней
      text-shadow: grey 1px 1px 0, grey -1px -1px 0,
                 grey -1px 1px 0, grey 1px -1px 0;
      padding-bottom: 10px;
    }
    .card-content{
      padding-top: 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      height: 110px;
      line-height: 22px;
      p{
        margin-top: 0;
        overflow: hidden;
      }
    }
    .card-action a{
      color: $main_bg_color !important;
    }
}