.nav-wrapper a.brand-logo {
    height: 64px;
    padding: 0 5px;
}
.nav-wrapper a.brand-logo img{
    margin-top: 4px;
    height: 56px;
    width: 56px;
}
.dropdown-content li>a{
    color: $main_bg_color;
}


ul.only-icons{
    &>li{
        &>a{
            width: 54px;
            height: 64px;
            &>i {
                margin: 0;
            }
        }
    }
}

.show-on-med-and-down {
    display: none;
}

@media only screen and (max-width: $m_px) {
    .nav-wrapper .container{
        width:99%;
    }
    ul.only-icons{
    &>li{
        &>a{
            width: 54px;
            height: 56px;
            &>i {
                margin: 0;
            }
        }
    }
}
}

@media only screen and (max-width: $l_px) {
    .show-on-med-and-down {
        display: block;
    }
}

