$main_bg_color: #323dc0;
$main_color: #fff;

$m_px: 600px;
$l_px: 992px;
$xl_px: 1200px;

@import 'navbar';
@import 'index';
@import 'news_read';
@import 'pagination';
@import 'news_list';

.main-bg-color{
  background: $main_bg_color !important;
}
.main-color{
  color: $main_color !important;
}
.container {
    width: 90%;
}

.no-padding{
  padding: 0 !important;
}
.full-width{
  width: 100%;
}

.row .col.error{
  margin-top: 30px;
  padding: 0 20px 4vh 20px;
  .btn{
    margin-top: 20px;
  }
}


@media only screen and (min-width: 1500px){
    .container {
        width: 1500px;
    }
}