{% extends 'base.html' %}
{% load static %}
{% load main_extras %}

{% block title %}НКО: Страницы не существует{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 l10 offset-l1 error z-depth-1">
                <h2>Ошибка 404</h2>
                <h5>Запрашиваемой страницы не существует</h5>
                <a href="/" class="btn waves-effect main-bg-color">На главную</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% endblock %}